<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.min.js" >
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
  <!--Link Jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Thông tin sản phẩm</title>
</head>
<body>
<div class="btn btn-outline-primary" style="margin-left:10px;margin-top:10px;border:1px solid blue">
  <a href="javascript:history.back()">Trở về</a>
</div>
    <form class="container" th:object="${book}" th:action="@{/saveBook}" method="post" enctype="multipart/form-data">
      <input type="hidden" th:text="${book.id}">
      <h1>
          <th:block th:switch="${book.id}" type="hidden">
            <strong  th:case="null">Thêm sản phẩm</strong>
            <strong  th:case="*">Chỉnh  thông tin sản phẩm</strong>
          </th:block>
        </h1>
          <hr>
        <div class="row">
          <!-- left column -->
          <div class="col-md-3">
            <div class="text-center">
              <img th:src="@{'/images/'+'BOOK_ID='+${book.id}+'.jpg'}" onerror="src='/default/defaultProductImage.jpg';" style="width: 200px;height: 200px;" class="avatar img-circle" alt="Ảnh sản phẩm">
              <h6>Cập nhật ảnh sản phẩm</h6>

                <input type="file" accept="image/*" class="form-control" name="file">
            </div>
          </div>

          <!-- edit form column -->
          <div class="col-md-9 personal-info" >
            <div class="alert alert-danger" id="error" hidden></div>
            <div class="alert alert-info" id="success" hidden></div>
            <h3>Thông tin sản phẩm</h3>
            
            <div class="form-horizontal" >
              <input type="hidden" th:field="*{id}">
              <div class="form-group">
                <label class="col-lg-3 control-label">Tiêu đề sách:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" th:field="*{title}" placeholder="Hiện chưa có tên" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Tác giả: </label>
                <div class="col-lg-8" style="margin-top:7px">
                  <th:block th:switch="${book.id}" type="hidden">
                    <span th:case="null"></span>
                    <span  th:case="*">
                      Hiện tại: <span th:text="${book.author.fullName}?${book.author.fullName}:''"></span> |
                      Chỉnh sửa:
                    </span>
                  </th:block>
                  <select name="authorId">
                    <th:block th:each="author:${authors}">
                      <option th:value="${author.id}" type="number" th:text="${author.fullName}"></option>
                    </th:block>>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Giá: </label>
                <div class="col-lg-8">
                  <input class="form-control" type="number" th:field="*{price}" required min="1">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Thể loại: </label>
                <div class="col-lg-8" style="margin-top:7px">
                  <th:block th:switch="${book.id}" type="hidden">
                    <span th:case="null"></span>
                    <span  th:case="*">
                      Hiện tại: <span th:text="${book.category.name}"></span> |
                      Chỉnh sửa:
                    </span>
                  </th:block>
                  <select name="categoryId">
                    <th:block th:each="category:${categories}">
                      <option th:value="${category.id}" type="number" th:text="${category.name}"></option>
                    </th:block>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Năm phát hành: </label>
                <div class="col-lg-8">
                  <input class="form-control" type="number" th:field="*{publishYear}" min="1000" required>
                </div>
              </div>
              <div class="form-group" style="text=align:center">
                <label >Trích dẫn:</label>
                <textarea class="form-control" style="resize: none;" rows="4" cols="30" th:field="*{description}">
                </textarea>
              </div>
            </div>
          </div>
      </div>
      <input type="submit" class="btn btn-primary" id="btnSubmit" value="Lưu">
    </form>
    <hr>
</body>
</html>