<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TSNN</title>
    <!--Icons-->
    <link rel="icon" type="image/png" th:href="@{images/icons/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" th:href="@{css/bgVideo.css}">

    <link rel="stylesheet" type="text/css" th:href="@{css/navBar.css}">

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


    <!--Source video
    Youtube User: Ohkamp
    Youtube Link: https://www.youtube.com/watch?v=SKVcQnyEIT8 -->
    <video autoplay loop id="video-background" muted plays-inline>
        <source src="The_Joy_of_Books.mp4" type="video/mp4">
    </video>
</head>
<body>
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#">TSNN</a> &ensp;
            <a href="/info">Thông tin</a>
        </div>
    </div>
</nav>
</div>
<div class="center">
    <div class="container">
        <h1 class="logo" style="color:white;font-size:40px">Tiệm sách nho nhỏ</h1>
        <div class="button">
            <a href="/books" >Ghé cửa hàng</a>
        </div>&ensp;
        <div class="button">
            <a href="/login" >Đăng nhập</a>
        </div>
    </div>
    <br><br><br><br>
</div>


</body>
</html>
